@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat&family=Sacramento&display=swap');

/* Colors */
$light-background-color: #2B2D42;
$dark-background-color: #191A27;
$red-principal-color: #EF233C;
$blue-principal-color: #5BD6C3;
$dark-text: #0B090A;
$black-background: #0B090A;
$general-white: #EDF2F4;

/* Fonts */
$theme-sacramento: 'Sacramento', cursive;
$theme-montserrat: 'Montserrat', sans-serif;
$theme-dosis: 'Dosis', sans-serif;